// Place all the styles related to the drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fixed-footer
 {
  position: fixed;
  bottom: 0;
 }

 .col-xs-1, .col-xs-3, .col-xs-4, .col-xs-10 {
  height: 100% !important;
 }

 .custombtn {
  height: 100% !important;
  border: none !important;
  width: 100% !important;
  font-size: 20px;
 }

 .row {
  height:80px;
 }

 .navbar {
  height:100%;

  .calories {
    text-align: center;
    h4, h3 {
      padding-left: 10%;
      text-align: left;
    }

    .status {
      .reset {
        margin-top: 30px !important;
      }
    }

    p {
      line-height: 50px;
      text-align: left;
      text-align: left;
      padding: 0 10%;
      font-size: 24px;
      img {
        height: 30px;
        width: auto;
      }
      #skip-hours {
        color: #25B824;
      }
      #run-hours {
        color: #CDFF00;
      }
      #cycle-hours {
        color: #FFCB02;
      }
      #walk-hours {
        color: #FF9535;
      }
      #shop-hours {
        color: #FF5E1C;
      }
      #tv-hours {
        color: #FF0F43;
      }
    }
  }
 }

.align-helper{
  height:100%;
  display:inline-block;
  vertical-align: middle;
}

.red {
  color:#FF0000;
}

.amber {
  color:#FFCC00;
}

.green {
  color:#009900;
}

@media (max-width: 400px) {
  .drinks-index {
    .row {
      margin-right: 10px;
    }

    .col-xs-1 {
      /*padding-right: 30px;*/
    }

    h1 {
      font-size: 22px;
    }

    button.btn.btn-default.info.reset {
      margin-top: 35px !important;
      width: 50px !important;
      height: 40px !important;
      background-color: #91FFAF;
      text-align: center;
      /*font-size: 0;*/
      /*background: url(reload.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
    }
    span {
      font-size: smaller;
    }
    .navbar .calories p {
      line-height: 40px;
      text-align: left;
      text-align: left;
      padding: 0 10%;
      font-size: 18px;
    }
    span#sobertime {
      font-size: 16px !important;
    }

    /*img {
      height: 30px;
      width: auto;
    }*/

    img.beer-pint {
      margin-top: 20px;
      width: 20px !important;
      height: auto;
    }

    img.beer-half {
      width: 30%;
      height: auto;
    }

    img.beer-bottle {
      width: 20%;
      height: auto;
    }

    img.wine-large {
      width: 40%;
      height: auto;
    }

    img.wine-md {
      width: 35%;
      height: auto;
    }

    img.wine-sm {
      width: 30%;
      height: auto;
    }

    img.shot {
      width: 45%;
      height: auto;
      margin-top: 20px;
    }

    img.mixer-1 {
      width: 45%;
      height: auto;
      margin-top: 20px;
    }

    img.mixer-2 {
      width: 40%;
      height: auto;
      margin-top: 20px;
    }

    img.wine-bottle {
      width: 40%;
      height: auto;
    }
  }
}