// Place all the styles related to the drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fixed-footer
 {
  position: fixed;
  bottom: 0;
 }

 .col-xs-1, .col-xs-3, .col-xs-4, .col-xs-10 {
  height: 100% !important;
 }

 .custombtn {
  height: 100% !important;
  border: none !important;
  width: 100% !important;
  font-size: 20px;
 }

 .row {
  height:80px;
 }

 .navbar {
  height:100%;

  .calories {
    text-align: center;
    h4, h3 {
      padding-left: 10%;
      text-align: left;
    }
    p {
      line-height: 50px;
      text-align: left;
      text-align: left;
      padding: 0 10%;
      font-size: 24px;
      img {
        height: 30px;
        width: auto;
      }
      #skip-hours {
        color: #25B824;
      }
      #run-hours {
        color: #CDFF00;
      }
      #cycle-hours {
        color: #FFCB02;
      }
      #walk-hours {
        color: #FF9535;
      }
      #shop-hours {
        color: #FF5E1C;
      }
      #tv-hours {
        color: #FF0F43;
      }
    }
  }
 }

.align-helper{
  height:100%;
  display:inline-block;
  vertical-align: middle;
}

.red {
  color:#FF0000;
}

.amber {
  color:#FFCC00;
}

.green {
  color:#009900;
}