// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users {
  font-family: 'Average Sans', sans-serif;
  background-color: purple;
  padding-bottom: 100%;
  /*background: url(party-dark.jpg);*/
  background: url(party-dark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    font-family: 'Average Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
    color: #CDD6DC;
  }

  .users-form {
    text-align: center;

    .sober {
      padding-top: 5%;
      select {
        border: 1px solid #CCCCCC;
        border-radius: 3px 3px 3px 3px;
        color: #555555;
        display: inline-block;
        font-size: 13px;
        height: 40px;
        line-height: 18px;
        width: 70%;
      }
    }
    .data {
      padding-left: 15%;
      padding-right: 15%;
    }
    input#user_weight {
      height: 40px;
    }
    label {
      font-size: 32px;
    }

    .gender {
      margin-top: 40px;
      span {
        input[type="radio"] {
          display:inline-block;
          height:40px;
          text-indent:-9999px;
          font-size: 36px;
        }
        btn {
          width: 15px;
        }
      }
      .male {
        margin-right: 10px;
        label.btn.btn-primary {
          width: 60px;
          background-color: #2E488C;
        }
        label.btn.btn-primary:hover {
           background-color: #282A6C;
        }
      }
      .female {
        margin-left: 10px;
        label.btn.btn-primary {
          width: 60px;
          background-color: #2E488C;
        }
        label.btn.btn-primary:hover {
           background-color: #282A6C;
        }
      }
    }

    .button {
      margin-top: 38px;
      background-color: #282A6C;
      border-color: #282A6C;
      color: #CDD6DC;
      border-radius: 5px;
      height: 80px;
      width: 225px;
      font-weight: bolder;
      text-transform: uppercase;
      font-size: 32px;
    }
    .button:hover {
      background-color: #2D2F79;
    }

  }
}
